[submodule "settings"]
	path = settings
	url = https://github.com/jcaw/private_talon_user
[submodule "talon_draft_window"]
	path = talon_draft_window
	url = https://github.com/splondike/talon_draft_window
[submodule "noise_recorder"]
	path = noise_recorder
	url = https://github.com/jcaw/noise_recorder_talon
