[submodule "settings"]
	path = settings
	url = git@github.com:jcaw/private_talon_user.git
	branch = master
[submodule "noise_recorder"]
	path = noise_recorder
	url = git@github.com:jcaw/noise_recorder_talon.git
	branch = master
[submodule "plugins/talon_draft_window"]
	path = plugins/talon_draft_window
	url = git@github.com:jcaw/talon_draft_window.git
	branch = main
[submodule "plugins/talon_wm"]
	path = plugins/talon_wm
	url = git@github.com:jcaw/talon_wm.git
	branch = main
[submodule "plugins/mouse_grid"]
	path = plugins/mouse_grid
	url = git@github.com:jcaw/talon_mouse_grid.git
	branch = master
